alias sdn="shutdown now"

alias c="clear"

alias ls="lsd -a -l --color=auto"
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"

alias visudo="sudo EDITOR=nvim visudo"
alias cat='bat'

alias clearos="sudo pacman -Scc && sudo rm -rf ~/.cache ~/.xsession-errors ~/.xsession-errors.old ~/.histfile ~/.Xauthority"
