# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!README.md
!.xsession
!.prompt.bash
!.aliases
!.zshrc
!.antigen.zsh
!.emacs.d

!.icons
!.themes
!.config
.config/*
!.config/starship
!.config/alacritty
!.config/kitty
!.config/rofi
!.config/neofetch
!.config/gtk-3.0
!.config/qtile
!.config/leftwm
!.config/dunst
!.config/espanso
!.config/archlinux-logout
!.config/picom
