[submodule ".config/leftwm/themes/xiao"]
	path = .config/leftwm/themes/xiao
	url = https://github.com/ghaerdi/xiao-leftwm-theme.git
[submodule ".config/leftwm/themes/saga"]
	path = .config/leftwm/themes/saga
	url = https://github.com/ghaerdi/SAGA.git
[submodule ".config/espanso/match"]
	path = .config/espanso/match
	url = https://gist.github.com/34d57244d9620281584a7436e8afdb34.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/neovim/neovim.git
