# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!README.md
!.screenshot.png
!.background.jpg
!.background.png

!.xsession
!.git-prompt.bash
!.aliases
!.zshrc
!.p10k.zsh

!.config
.config/*
!.config/rofi
!.config/neofetch
!.config/gtk-3.0
!.config/qtile
!.config/leftwm
!.config/polybar
!.config/dunst
!.config/archlinux-logout

!.local
.local/*
!.local/share
.local/share/*
!.local/share/konsole
