[submodule "espanso"]
	path = espanso/.config/espanso/match
	url = https://gist.github.com/34d57244d9620281584a7436e8afdb34.git
[submodule "nvim"]
	path = nvim/.config/nvim
	url = https://github.com/ghaerdi/neovim-config.git
[submodule "Wallpapers"]
	path = Wallpapers
	url = https://github.com/ghaerdi/Wallpapers
[submodule "fastfetch/.local/share/fastfetch"]
	path = fastfetch/.local/share/fastfetch
	url = https://github.com/LierB/fastfetch.git
[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
