* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 5px;
  color: #b0b4bc;
}

.workspaces-widget .workspace-entry {

  // background-color: #000099;
  & > .occupied {
    background-color: #999900;
  }

  & > .empty {
    background-color: #009900;
  }

  &.current {
    color: #D35D6E;
  }
}
