// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    touchpad {
        tap
    }

    mouse {
				left-handed
    }

    warp-mouse-to-focus
}

cursor {
    hide-after-inactive-ms 10000
    hide-when-typing
}
