// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    touchpad {
        tap
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    warp-mouse-to-focus
}

cursor {
    hide-after-inactive-ms 2000
    hide-when-typing
}
