layout cwd="$HOME/Documents/Projects/nectar" {
	default_tab_template {
			// the default zellij tab-bar and status bar plugins
			pane size=1 borderless=true {
					plugin location="zellij:tab-bar"
			}
			children
			pane size=1 borderless=true {
					plugin location="zellij:status-bar"
			}
	}
	tab name="main" split_direction="vertical" {
		pane command="btop"
	}
	tab name="web" cwd="web" split_direction="vertical" {
		floating_panes {
			pane cwd="web"
		}
		pane size="60%"
		pane command="claude"
	}
	tab name="server" cwd="server" split_direction="vertical" focus=true {
		floating_panes {
			pane cwd="server"
		}
		pane size="60%"
		pane command="claude"
	}
}
