layout cwd="$HOME/Documents/Projects/nectar" {
	default_tab_template {
			pane size=1 borderless=true {
					plugin location="zellij:tab-bar"
			}
			children
			pane size=1 borderless=true {
					plugin location="zellij:status-bar"
			}
	}
	tab name="AI" {
		pane command="claude"
	}
	tab name="cdk" cwd="cdk" {
		pane
	}
	tab name="web" cwd="web" split_direction="vertical" {
		pane
	}
	tab name="server" cwd="server" split_direction="vertical" focus=true {
		pane
	}
}
