@import "base"

* {
		primary:   @yellow;
		secondary: @yellow;
}

configuration {
		modi:              "clipboard:cliphist list";
		display-clipboard: " CLIPBOARD";
}


window {
		width:	50%;
		height:	80%;
}
