@import "base"

configuration {
		modi:                "combi,filebrowser";
		combi-modi:          "drun,window";
		display-combi:       " SEARCH";
		display-filebrowser: " FILES";
		display-calc:        "󰪚 CALCULATOR";
		display-drun:        " ";
		display-window:      "󰶮 ";
}
