@import "base"

* {
		primary:   @yellow;
		secondary: @yellow;
}

configuration {
		modi:              "emoji,clipboard:greenclip print";
		display-clipboard: " CLIPBOARD";
		display-emoji:     "󰞅 EMOJI";
}

window {
		width:	50%;
		height:	80%;
}
