@import "config"

* {
		primary:	 @yellow;
		secondary: @yellow;
}

configuration {
		modi:                   "emoji,clipboard:greenclip print";
		display-clipboard:			" CLIPBOARD";
    display-emoji: 					"󰞅 EMOJI";
}

listview {
    columns: 1;
}

window {
		width:	50%;
    height:	80%;
}
