@import "base"

* {
		primary:   @red;
		secondary: @red;
}

configuration {
		modi:         "p:rofi-power-menu --choices=shutdown/reboot";
		sidebar-mode: false;
}

window {
		width:  18%;
		height: 15%;
}
