@import url("/home/vanzuh/.cache/wal/colors-waybar.css");

* {
	border: none;
	font-size: 13px;
	font-family: "JetBrainsMono NL";
	color: @foreground;
	min-height: 23px;
}

window#waybar {
  background: alpha(@background, 0.8);
 }

#system,
#workspaces,
.modules-center {
  background-color: @background;
  padding: 0 15px;
}

.modules-center {
	min-height: 21px;
  border-radius: 15px;
}

#system {
	min-height: 23px;
  border-radius: 15px 0 0 15px;
}

#workspaces {
	min-height: 23px;
  border-radius: 0 15px 15px 0;
}

#custom-notification-center {
	font-size: 20px;
}

#battery,
#bluetooth,
#pulseaudio,
#network,
#workspaces,
#reboot,
#lock,
#quit,
#disk,
#cpu,
#custom-love,
#custom-expand-icon,
#custom-notification-center,
#tray,
#clock {
  padding: 0 10px;
}

#pulseaudio.muted {
  color: @color6;
}

#clock {
  color: @color4;
}

#custom-love {
	color: @color5;
	font-size: 12px;
}

#battery {
	color: @foreground;
}

#battery.warning:not(.charging) {
  color: @color5;
}

#battery.critical:not(.charging) {
	color: @color5;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @color6;
  }
}
